source https://api.nuget.org/v3/index.json

storage: none
nuget coverlet.collector
nuget FsCheck.Xunit
nuget LiteDB
nuget Microsoft.NET.Test.Sdk
nuget Spectre.Console
nuget Spectre.Console.Cli
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio